.count {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 10px;
  span {
    padding: 3px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #4b4b4b;
    background: #f5f5f6;
    border-radius: 3px;
    @media(max-width:575px) {
        font-size: 10px;
    }
  }
}
