.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 100%;

  @media (min-width: 992px) {
    margin: -13px 0 -20px;
  }

  .titleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  .title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    text-align: center;

    @media (max-width: 575px) {
      font-size: 22px;
      line-height: 29px;
    }
  }

  .box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 992px) {
      gap: 30px;
      margin: 0 -31px 0 -32px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .imgBox {
    flex-basis: 408px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 20px;
    background: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 10px;

    @media (max-width: 575px) {
      flex-basis: auto;
      max-width: 360px;
      width: 100%;

      img {
        height: 185px;
        width: auto;
      }
    }

    .productName {
      width: 100%;
      margin-top: 20px;
      font-weight: 500;
      font-size: 25px;
      line-height: 130%;

      @media (max-width: 575px) {
        margin-top: 8px;
        font-size: 16px;
        line-height: 130%;
      }
    }

    .priceWrap {
      display: flex;
      align-items: baseline;
      gap: 10px;
      width: 100%;
      margin-top: 15px;
      @media (max-width: 575px) {
        gap: 6px;
        margin-top: 8px;
      }
    }

    .price {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;

      @media (max-width: 575px) {
        font-size: 18px;
        line-height: 130%;
      }
    }

    .oldPrice {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-decoration-line: line-through;
      color: #686868;

      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 130%;
      }
    }
  }

  .formBox {
    flex-basis: 360px;
    flex-shrink: 1;

    @media (max-width: 575px) {
      flex-basis: auto;
      max-width: 360px;
      width: 100%;
    }
  }

  .form {
    max-width: 357px;
    width: 100%;

    @media (max-width: 575px) {
      max-width: 360px;
    }

    input {
      width: 100%;
      min-height: 45px;
      padding: 8px 28px;
      background: #ffffff;
      border: 2px solid #dbdbdb;
      border-radius: 5px;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      transition: 0.3s all;

      @media (max-width: 575px) {
        min-height: 39px;
        padding: 6px 10px;
        font-size: 16px;
        line-height: 23px;
      }

      &:not(:first-child) {
        margin-top: 20px;

        @media (max-width: 575px) {
          margin-top: 10px;
        }
      }

      &:active,
      &:focus,
      &:focus-visible {
        border-color: #a0a0a0;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 264px;
      min-height: 64px;
      padding: 5px;
      width: 100%;
      margin: 20px 0 0;
      background: #eeec0b;
      border-radius: 5px;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      transition: 0.3s all;

      @media (max-width: 575px) {
        max-width: 210px;
        min-height: 34px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 6px 10px;
        font-size: 12px;
        line-height: 20px;
      }

      @media (min-width: 992px) {
        &:hover {
          background: #d9d710;
        }
      }
    }
  }

  .comment {
    max-width: 360px;
    width: 100%;
    margin: 20px auto 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #686868;

    @media (max-width: 575px) {
      max-width: 272px;
      font-size: 12px;
      line-height: 19px;
      text-align: center;
    }
  }
}
