body {
  .filter {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    max-width: none !important;

    button[data-fancybox-close] {
      display: flex !important;
      top: 20px !important;
      background: none!important;
      @media (max-width: 767px) {
        top: 2px !important;
        right: 5px!important;
      }
    }
  }
  .city {
    max-width: 554px;
    padding: 60px 30px 50px 30px!important;
    @media (max-width: 575px) {
      padding: 30px 20px!important;
    }
  }
}
